*{
    font-family:"sen",sans-serif;
    font: weight 100px;
}
.flex-container{
    display: flex;;
}

.formulario.grupo__incorrecto .formulario_label{
    color: #FF5733;
}

.formulario.grupo__incorrecto .formulario_imput{
    border: #FF5733;
}
